<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

<!-- 웹서버가 올라오면 드라이버를 올리게 xml문서에 작성이 되어있음.
	jdbc.MySQLDriverLoader 요 클래스를 서블릿으로 띄우겠다는 의미임.
	 -->
	<servlet>
		<servlet-name>mysqlDriverLoader</servlet-name>
		<servlet-class>jdbc.MySQLDriverLoader</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


<!-- 커넥션 풀 관련된 파일도 서블릿으로 작성되어있으며, 얘 또한 서버가 실행될때 1순위로 같이 올라간다. -->
	<servlet>
		<servlet-name>DBCPInit</servlet-name>
		<servlet-class>jdbc.DBCPInit</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

</web-app>